<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bangalore Jobs</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body
    class="bangloreJobs"
    style="
      background: linear-gradient(135deg, #667eea 0%, #46e231 40%, #eb4218 96%);
      background-attachment: fixed;
      margin: 0;
      min-height: 100vh;
    "
  >
    <h1
      style="
        font-size: 2.5rem;
        text-align: center;
        color: rgb(7, 7, 7);
        margin-bottom: 30px;
        margin-top: 30px;
        text-shadow: 1px 1px 1px rgb(234, 74, 74);
      "
    >
      Bangalore Jobs
    </h1>
    <table class="table table-bordered" style="min-height: 100vh">
      <tr>
        <th>Company Name</th>
        <th>Job Title</th>
        <th>Salary</th>
        <th>Qualification</th>
        <th>Location</th>
        <th>Joining Date</th>
        <th>Address</th>
        <th>Contact Number</th>
        <th>Email</th>
        <th>Apply Now</th>
      </tr>
      {% for job in bangloreJobsView %}
      <tr>
        <td>{{ job.companyName }}</td>
        <td>{{ job.jobTitle }}</td>
        <td>{{ job.salary }}</td>
        <td>{{ job.qualification }}</td>
        <td>{{ job.location }}</td>
        <td>{{ job.joiningDate }}</td>
        <td>{{ job.address }}</td>
        <td>{{ job.contactNumber }}</td>
        <td>{{ job.email }}</td>
        <td>
          <a
            href="/applybtn"
            class="btn btn-danger"
            style="text-decoration: none; color: white; font-weight: bold"
          >
            Apply Now
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
